@import "tailwindcss";

html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    background-color: var(--Secondary-secondary-50, #edecec);
}

.homePage {
	display: flex;
	flex-direction: column;
	gap: 126px;
}

.userProfileData {
    position: relative;
    width: 100%;
}

.homeIntroGraphic {
    width: 100%;
    object-fit: cover;
}

.profileCard {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -102px;
}

.homeQuests {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: auto;
}

.upcomingQuests,
.completedQuests {
    display: flex;
    flex-direction: column;
}

.sectionTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 16px 8px 16px;
}

.sectionTitle h3 {
    color: var(--Primary-primary-700, #2d71b5);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 125% */
}

.sectionTitle p {
    color: var(--Secondary-secondary-400, #8a827a);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 125% */
}

.divider {
    margin: 0 16px;
    color: #bbb7b4;
}

.questImage {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

/* -------------------------Quest Board---------------------------- */
.questBoardContainer {
	height: 100vh;
	/* overflow: hidden; 🔒 Prevent scrolling */
	display: flex;
	flex-direction: column;
}

.questboardPage {
	margin-top: 44px;
	display: flex;
	flex-direction: column;
	gap: 16px;
	/* overflow-y: auto; */
}

.boardHeader {
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	padding-top: 16px;
	gap: 16px;
	overflow-y: auto;

	position: sticky;
	top: 0;
	z-index: 1; 
}

.boardHeader h1 {
	color: var(--BLACK, #0c0b0b);
	text-align: center;
	font-size: 24px;
	font-weight: 600;
}

.boardActions {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	gap: 12px;
	position: sticky;
	top: 0;
	z-index: 1;
}




