.questList {
	display: flex;
	align-items: center;
	align-self: stretch;
}

.questList_explore:active {
	border-bottom: 2px solid var(--Primary-primary-700, #2d71b5);
	color: var(--Primary-primary-700, #2d71b5);
	text-align: center;
	font-size: 16px;
	font-weight: 600;
	line-height: 20px;
}

.questList_saved, .questList_explore {
	display: flex;
	flex: 1 0 0;
	width: 100%;
	height: 48px;
	padding: 12px 16px 16px 16px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	border-bottom: 1px solid var(--Secondary-secondary-200, #bbb7b4);
}

.exploreIcon, .savedIcon {
    background-color: bbb7b4;
}

