.signUpContainer {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 100%;
    gap: 16px;
}

.signUpContainer h1 {
    font-size: 24px;
    font-weight: 600;
    color: var(--BLACK, #0c0b0b);
    text-align: center;
    margin: 0;
}

.imageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.image {
    height: 200px;
    object-fit: contain;
}

.buttonContainer {
    margin-top: 16px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.orContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    width: 100%;
    margin-top: 40px;
}

.line {
    width: 100%;
    height: 1px;
    color: var(--Secondary-secondary-200, #c9c6c5);
}

.orText {
    font-size: 14px;
    font-weight: 400;
    color: var(--BLACK, #0c0b0b);
}
