.chatCardContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    background-color: white;
}

.userImg {
    width: 60px;
    height: 60px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.chatUser {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 8px;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    line-height: 20px;
}

.userName {
    color: black;
    font-weight: 400;
}

.message {
    color: black;
    font-weight: 300;
}

.time {
    color: #a09c97;
    font-weight: 400;
}

.CaretRight {
    width: 24px;
    height: 24px;
    aspect-ratio: 1/1;
}
