.navContainer {
	padding: 24px 32px;
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
}

.navMain {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 64px;
	padding: 12px 32px;
	justify-content: space-between;
	align-items: center;
	border-radius: 90px;
	border: 1px solid var(--Primary-primary-700, #2d71b5);
	background: var(--WHITE, #fff);

	/* Primary700-Shadow */
	box-shadow: 0px 4px 0px 0px #2d71b5;
}

.navIcon {
	display: flex;
	width: 40px;
	height: 40px;
	display: flex;
    flex-direction: column;
    gap: 8px;
	justify-content: center;
	align-items: center;
}

.icon {
	width: 24px;
	height: 24px;
	flex-shrink: 0;
	aspect-ratio: 1/1;
    opacity: 0.5;
	transition: opacity 0.2s ease;
}

.active {
    width: 24px;
	height: 24px;
	flex-shrink: 0;
	aspect-ratio: 1/1;
	opacity: 1;
	/* You can also add color filters, borders, or scale effects here */
}

.iconActive {
    width: 32px;
    height: 4px;
    background-color: #2d71b5;
    border-radius: 20px;
}