.iconButton {
    display: flex;
    padding: 8px;
    max-width: 40px;
    max-height: 40px;
    aspect-ratio: 1;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    box-sizing: border-box;
}

.primaryOutline {
    background: var(--WHITE, #fff);
    border: 1px solid var(--Primary-primary-700, #2d71b5);
    box-shadow: 0px 4px 0px 0px #2d71b5;
}

.secondaryOutline {
    background: var(--WHITE, #fff);
    border: 1px solid var(--Secondary-secondary-100, #d6d3d2);
    box-shadow: 0px 4px 0px 0px #d6d3d2;
}

.noOutline {
    background: var(--WHITE, #fff);
}
