.panelBody {
	display: flex;
	width: 393px;
	padding: 14px 16px 34px 16px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
	border-radius: 40px 40px 0px 0px;
	background: white;
}

.panelHandle {
	width: 59px;
	height: 7px;
	border-radius: 100px;
	background: #d9d9d9;
}

.panelTitle {
	color: #0c0b0b;
	text-align: center;
	font-size: 24px;
	font-weight: 600;
	line-height: 32px; 
}

.memberCard {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}

.memberImage {
	width: 68px;
	height: 68px;
    object-fit: cover;
    border-radius: 100px;
}

.memberDetails {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.memberDetails h4 {
    font-size: 16px;
    font-weight: 500;
    color: #0c0b0b;
}

.memberDetails p {
    font-size: 16px;
    font-weight: 400;
    color: #8A827A;
}

.upvote, .downvote {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EDECEC;
    padding: 10px;
    border-radius: 40px;
}

.submitButton {
    width: 100%;
}
