
.button {
    display: flex;
    width: auto;
    max-width: 361px;
    height: 48 px;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 90px;
    font-size: 16px;
    font-weight: 600;
}

.primary {
    background: var(--Primary-primary-BASE, #3F9FFF);
    box-shadow: 0px 4px 0px 0px #2D71B5;
    color: white;
    border: none;
}

.secondary {
    background: var(--WHITE, #FFF);
    border-top: 1px solid var(--Primary-primary-700, #2D71B5);
    border-right: 1px solid var(--Primary-primary-700, #2D71B5);
    border-left: 1px solid var(--Primary-primary-700, #2D71B5);
    box-shadow: 0px 4px 0px 0px #2D71B5;
    color: #2D71B5;
}

.primaryOutline {
    background: var(--WHITE, #FFF);
    border-top: 1px solid var(--Secondary-secondary-100, #D6D3D2);
    border-right: 1px solid var(--Secondary-secondary-100, #D6D3D2);
    border-left: 1px solid var(--Secondary-secondary-100, #D6D3D2);
    box-shadow: 0px 4px 0px 0px #D6D3D2;
    color: #333;
}

.primaryDisabled {
    background: var(--Secondary-secondary-75, #E4E2E0);
    border: 1px solid var(--Secondary-secondary-100, #D6D3D2);
    color: #A0A0A0;
    cursor: not-allowed;
}

.icon {
    width: 20px;
    height: 20px;
}

/*(￣y▽￣)╭ Ohohoho..... Text Styles (￣y▽￣)╭ Ohohoho.....*/

.buttonText {
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
}

.primaryText {
    color: var(--BLACK, #0C0B0B);
}

.secondaryText {
    color: var(--Primary-primary-700, #2D71B5);
}

.primaryOutlineText {
    color: var(--Secondary-secondary-700, #45403A);
}

.primaryDisabledText {
    color: var(--Secondary-secondary-400, #8A827A);
}

